/* Main app */
#container {
  display: flex;
  height: 50vh;
}

#tree {
  width: 400px;
}

#list {
  flex-grow: 2;
  border-left: 0;
}

.box {
  border: 2px solid #4cb5f5;
}

/* Folder Tree Styles */
.folder-tree .folder {
  list-style-type: none;
}
.folder-tree {
  padding-left: 5px;
  margin: 0;
}
.folder-tree .list {
  padding-left: 20px;
}

.folder-tree .icon {
  width: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.folder-tree .folder-name {
  font-size: 15px;
}

.folder-tree .name-container,
.folder-tree .folder-name {
  display: flex;
  align-items: center;
}

.folder-tree .folder-name,
.folder-tree .indicator-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.folder-tree .indicator-button,
.indicator-placeholder {
  width: 10px;
}

.folder-tree .name-container.selected {
  background-color: #ccc;
}

.folder-tree .indicator-button .triangle {
  position: relative;
  display: inline-block;
  width: 0; 
  height: 0;
  top: -2px;
  left: 2px;
  border: 5px solid transparent;
  border-left: 5px solid #333;
}

.folder-tree .expanded .triangle {
  border: 5px solid transparent;
  border-top: 5px solid #333;
  top: 0;
  left: 0;
}

/* FileList Styles */

.file-list {
  border-collapse: collapse;
  width: 100%;
}
.file-list .row,
.file-list .column {
  cursor: pointer;
}

.file-list .icon {
  width: 25px;
}

.file-list .icon-header {
  width: 30px;
}

.file-list .header-row {
  border-bottom: 3px solid #4cb5f5;
}

.file-list .header {
  text-align: start;
  min-width: 200px;
  padding: 0;
}

.file-list .file-size {
  width: 100px;
  min-width: 0;
}

.file-list .column.file-size {
  text-align: right;
  padding-right: 5px;
}


